:root{
--space-1:5px;
--space-2:6px;
--space-3:10px;
--space-4:15px;
--space-5:20px;
--space-6:30px;
--space-7:40px;
--radius-xs:4px;
--radius-sm:8px;
--radius-md:10px;
--radius-lg:15px;
--radius-xl:20px;
--radius-2xl:25px;
--radius-3xl:30px;
--radius-4xl:35px;
--radius-round:50%;
--radius-pill:100px;
}
