
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  @apply font-sans;
  background-color: #fff;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden
}

#app {
  background-color: #fff;
}

::placeholder {
  font-weight: 300;
  letter-spacing:0.5px;
}

input::placeholder,
textarea::placeholder {
  font-weight: 300;
  letter-spacing:0.5px;
}

input {
  border: 1px solid #11111134;

}
input:focus {
  border-color: #659CFF;
}
input:focus-visible {
  outline: none;
}

* {
  user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 33px) {
  ::placeholder {
    font-size: 14px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }
  .text-slider {
    font-size: 2rem !important;
  }
}







#nuxt-devtools-anchor.nuxt-devtools-hide .nuxt-devtools-panel-content[data-v-154550e3] {
  opacity: 1 !important;
}
#nuxt-devtools-anchor.nuxt-devtools-hide .nuxt-devtools-panel[data-v-154550e3] {
  max-width: 180px !important;
}
#nuxt-devtools-anchor .nuxt-devtools-panel[data-v-154550e3] {
  height: 50px !important;
  border-radius: 30px !important;
}


@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scroll-touch {
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: 767px) {
    .no-scrollbar-mobile {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .no-scrollbar-mobile::-webkit-scrollbar { display: none; }
  }
}
