
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  @apply font-sans;
  background-color: #fff;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden
}

body.page-bonusopad {
  background-color: #14350C;
}

main.page-bonusopad {
  margin-top: -200px;
}

#app {
  background-color: #fff;
}

::placeholder {
  font-weight: 300;
  letter-spacing:0.5px;
}

input::placeholder,
textarea::placeholder {
  font-weight: 300;
  letter-spacing:0.5px;
}

input {
  border: 1px solid #11111134;
}
input:focus {
  border-color: #659CFF;
}
input:focus-visible {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 33px) {
  ::placeholder {
    font-size: 14px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }
  .text-slider {
    font-size: 2rem !important;
  }
}







#nuxt-devtools-anchor.nuxt-devtools-hide .nuxt-devtools-panel-content[data-v-154550e3] {
  opacity: 1 !important;
}
#nuxt-devtools-anchor.nuxt-devtools-hide .nuxt-devtools-panel[data-v-154550e3] {
  max-width: 180px !important;
}
#nuxt-devtools-anchor .nuxt-devtools-panel[data-v-154550e3] {
  height: 50px !important;
  border-radius: 30px !important;
}


@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scroll-touch {
    -webkit-overflow-scrolling: touch;
  }



  @media (max-width: 767px) {
    .no-scrollbar-mobile {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .no-scrollbar-mobile::-webkit-scrollbar { display: none; }
  }

}





   /* 1) text-primary -> временно делаем фиксированный цвет */
  .text-primary {
    color: #ff8550 !important;
  }

  /* 2) bg-primary -> градиент как на скрине */
  .bg-primary {
    background-image: linear-gradient(90deg, #f24391 0%, #ff8550 100%) !important;
    background-color: transparent !important;
  }
  /* базовая плавность для кнопок */
  button.bg-primary,
  a.bg-primary,
  .btn.bg-primary {
    transition: background-image 220ms ease, filter 220ms ease, transform 220ms ease;
    will-change: background-image, filter, transform;
  }

  /* hover меняет угол/направление градиента */
  button.bg-primary:hover,
  a.bg-primary:hover,
  .btn.bg-primary:hover {
    background-image: linear-gradient(120deg, #f24391 0%, #ff8550 100%) !important;
    filter: brightness(1.03);
    transform: translateY(-1px);
    color: #fff !important;
  }

  button.bg-primary:active,
  a.bg-primary:active,
  .btn.bg-primary:active {
    transform: translateY(0px);
    filter: brightness(0.99);
  }
